<a href="/">Home</a>
<br>
<a href="/auth/googleauth">Login</a>
<br>
<a href="/auth/logout">Logout</a>
<br>
<a href="/test/form">Test Form Data</a>
<br>
<a href="/test/error">Test Error Handling</a>
<br>
{{#if user}}
    {{user.firstName}} {{user.lastName}}
    
{{else}}
    Not Logged in.
{{/if}}

{{> _flash_error}}
{{> _flash_message}}
