<a href="/">Home</a>
        <a href="/auth/googleauth">Login</a>
        <a href="/auth/logout">Logout</a>
        <a href="/test/form">Test</a>
        {{#if user}}
            {{user.firstName}} {{user.lastName}}
            
        {{else}}
            Not Logged in.
        {{/if}}

        {{> _flash_error}}
        {{> _flash_message}}
        {{{body}}}