<div>
    <form action="/mail" method="POST">        
        <label for="email">Email To:</label><input type="email" name="email">
        <label for="subject">Subject:</label><input type="subject" name="subject">
        <label for="body">Message:<br></label><textarea name="body" id="" cols="50" rows="30"></textarea>
        <input type="submit" value="send the email...">
    </form>
</div>
